<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/dragdrop.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center h4 mb-4">DIGITALIZACIÓN DE DOCUMENTOS</h1>
        <!-- Form -->
        <form action="/subir" method="POST" encType="multipart/form-data">
            <div class="row">
                <div class="col-sm">
                    <!-- Material form contact -->
                    <div class="card border-secondary rounded">

                        <h5 class="card-header info-color text-white py-4 colord">
                            <strong>Datos del documento</strong>
                        </h5>

                        <!--Card content-->
                        <div class="card-body px-lg-5 pt-1">

                            <div class="form-row">
                                <!-- NroDoc -->
                                <div class="form-group col-md-6">
                                    <label for="nroDoc">Nro. Doc. :</label>
                                    <input type="text" id="nroDoc" name="nroDoc" class="form-control" required>
                                </div>
                                <!-- Folios -->
                                <div class="form-group col-md-6">
                                    <label for="folios">Folios</label>
                                    <input type="number" id="folios" name="folios" class="form-control" required>
                                </div>
                            </div>

                            <!-- Origen -->
                            <div class="md-form">
                                <label for="origen">Origen</label>
                                <input type="text" id="origen" name="origen" class="form-control" required>
                            </div>

                            <!-- Interesado -->
                            <div class="md-form">
                                <label for="interesado">Interesado</label>
                                <input type="text" id="interesado" name="interesado" class="form-control text-uppercase" required>
                            </div>

                            <!-- Documento -->
                            <div class="md-form">
                                <label for="documento">Documento</label>
                                <input type="text" id="documento" name="documento" class="form-control text-uppercase" required>
                            </div>

                            <!-- Asunto -->
                            <div class="md-form">
                                <label for="asunto">Asunto</label>
                                <input type="text" id="asunto" name="asunto" class="form-control text-uppercase" required>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="tipo">Tipo Doc.</label>
                                    <select name="tipo" id="tipo" class="form-control" required>
                                        <option value="solicitud" selected>SOLICITUD</option>
                                        <option value="informe">INFORME</option>
                                        <option value="memorandum">MEMORANDUM</option>
                                        <option value="oficio">OFICIO</option>
                                        <option value="expediente">EXPEDIENTE</option>
                                        <option value="svalorada">SOLICITUD VALORADA</option>
                                        <option value="otros">OTROS</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="plazo">Plazo</label>
                                    <input type="date" name="plazo" id="plazo" class="form-control" required>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- Material form contact -->
                </div>
                <div class="col-sm">
                    <div class="form-group files">
                        <label> Archivo </label>
                        <input type="file" name="archivo" class="form-control" multiple="" accept=".pdf" required>
                    </div>
                    <!-- Send button -->
                    <button
                        class="btn colord text-white btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"
                        type="submit">Ingresar</button>
                </div>
            </div>
        </form>
        <!-- Form -->
    </div>
</body>

</html>