<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ 
			padding-top:80px;
			background:url('https://aatvos.com/wp-content/uploads/2018/10/Aatvos_Koln-Kalk_library-social-inclusion-1.jpg');
		}
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron jumbotron-fluid text-center">
		<h1><span class="fa fa-lock"></span> DGTAL</h1>

		<p>Entrar o registrarse en el sitema:</p>

		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Entrar</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Registrarse</a>
	</div>

</div>
</body>
</html>
