<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
	<title>DGTAL</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/verticalmenu.css">
</head>

<body>
	<!-- Nav menu with user information -->
	<nav class="navbar navbar-expand-xl pmd-navbar pmd-z-depth fixed-top">
		<a class="navbar-brand" href="/client/profile" style="color: white;">DGTAL</a>
		<button class="openbtn">☰</button>
		<div class="dropdown pmd-dropdown pmd-user-info ml-auto">
			<a href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center"
				data-toggle="dropdown" data-sidebar="true" aria-expanded="false">
				<img class="mr-2" src="https://pro.propeller.in/assets/images/avatar-icon-40x40.png" width="40"
					height="40" alt="avatar">
				<i class="mdi mdi-arrow-drop-down-circle"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">
				<a class="dropdown-item" href="javascript:void(0);">Edit Profile</a>
				<a class="dropdown-item" href="/logout">Logout</a>
			</ul>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="sidenav">
			<a href="javascript:void(0);" onclick="digitalizar()"><i class="fas fa-clone"></i>Digitalizar</a>
			<a href="#services"><i class="fas fa-search"></i>Busqueda</a>
			<button class="dropdown-btn"><i class="fas fa-door-open"></i>Servicios
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-container">
				<a href="#"><i class="fas fa-cog"></i>Documentos en proceso</a>
				<a href="#"><i class="fas fa-check"></i>Documentos terminados</a>
				<a href="#"><i class="fas fa-chart-line"></i>Estadísticas</a>
			</div>
			<a href="#contact"><i class="fas fa-info-circle"></i>Ayuda</a>
		</div>

		<div id="main">
		</div>
	</div>
</body>
<script>
	/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
	var dropdown = document.getElementsByClassName("dropdown-btn");
	var i;

	for (i = 0; i < dropdown.length; i++) {
		dropdown[i].addEventListener("click", function () {
			this.classList.toggle("active");
			var dropdownContent = this.nextElementSibling;
			if (dropdownContent.style.display === "block") {
				dropdownContent.style.display = "none";
			} else {
				dropdownContent.style.display = "block";
			}
		});
	}
</script>
<script>
	$('document').ready(function () {
		$('.openbtn').click(function () {
			$('.sidenav').toggle('slow', function () {
				if ($('.sidenav').is(':hidden')) {
					$('#main').css('margin-left', '10px');
				} else {
					$('#main').css('margin-left', '200px');
				}
			});
		});
	});
</script>
<script>
	function digitalizar() {
		$.ajax({
			url: "/client/digitalizar",
			method: "GET"
		}).done(function (data) {
			$("#main").html(data);
		});
	}
</script>

</html>